
/* reset css */
* {
  box-sizing: border-box;
}

/* variabler */
 :root { --darkbackground-color: #EAE6E3; }
 :root { --lightbackground-color: #F1EFEC; }

/* styling af menulinjen */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkbackground-color); 
  padding: 32px 30px;
  position: relative;
}

/* fjern den blå link og streg under span i header */
.nav-item {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

/* størrelse på ikoner */
.icon {
  width: 32px;
  height: 32px;
}

/* styling af ikonernes placering */
.left,
.right {
  display: flex;
  align-items: center;
  flex: 1;
}
.right {
  justify-content: flex-end;
  gap: 25px;
}

/* styler span og icon ift hinanden */
.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

/* styling af logo */
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logo img {
  width: 180px;
  height: auto;
  display: block;
}

/* styling af hero billedet */
.hero {
  min-height: 88vh;
  background-image: url("../img/lumina-herosektion.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-start;
 padding: 80px 80px 0 80px;
}

    /* styling af hero teksten */
    .hero-text {
    max-width: 500px;
    color: white;
    }

    /* styling af h4 */
    .hero-text h4 {
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        margin: 0 0 10px 0;
    }

    /* styling af overskriften h1 */
    .hero-text h1 {
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0 0 26px 0;
    line-height: 1.2;
    }

    /* styling af paragraffen */
    .hero-text p {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
    line-height: 2;
    }
    /* ændre hverdag til guld */
    .highlight {
    color: #C89B5C;
    }

    /* placering af knapperne ift hinanden */
    .cta-buttons {
    display: flex;
    gap: 16px;
    margin-top: 35px;
    }

    /* Fælles styling til begge knapper */
    .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 18px 34px;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
    }

    /* gør knappen guld */
    .btn-primary {
    background-color: #C89B5C;
    color: black;
    border: 1px solid #C89B5C;
    }

    /* gør knappen gennemsigtig */
    .btn-secondary {
    background-color: rgba(255, 255, 255, 0.12);
    color: white;
    border: 1px solid #C89B5C;
    backdrop-filter: blur(4px);
    }

    /* hoover effekt */
    .btn-primary:hover {
    background-color: #D8AD70;
    }
    .btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.22);
    }

    /* styling af ikonernes placering */
    .hero-features {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 65%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    /* ændre tekst farven */
    .feature {
    text-align: center;
    color: white;
    }

    /* størrelse på ikonerne */
    .feature-icon img {
    width: 72px;
    height: 72px;
    }

    /* styling af p */
    .feature p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
    margin: 0;
    }

/* styling af social proof */
.social-proof {
    background-color: var(--darkbackground-color); 
    padding: 28px 60px;
 }

    .proof-list {
    list-style: none; /* fjerner punkterne */
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    .proof-item {
    text-align: center;
    }
    /* størrelsen på ikonerne */
    .proof-icon {
    width: 32px;
    height: 32px;
    }

    /* styling af h4 overskriften */
    .proof-item h4 {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 4px;
    }

    /* styling af paragraf */
    .proof-item p {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 8px;
    }


/* Hele Trustpilot-sektionen */
.trustpilot-section {
display: flex;
align-items: center;
gap: 80px;
padding: 80px 120px;
background-color: var(--lightbackground-color);
}

    /* Venstre side med Trustpilot-score */
    .trustpilot-summary {
        width: 320px;
        text-align: center;
    }

    /* Trustpilot-logo */
    .trustpilot-logo img {
    width: 210px;
    margin-bottom: 18px;
    }

    /* De store grønne Trustpilot-stjerner */
    .trust-stars img {
        width: 310px;
        margin-bottom: 24px;
    }

    /* Stor score: 4,8/5 */
    .trust-score {
    font-family: "Inria Sans", sans-serif;
    font-size: 64px;
    font-weight: 500;
    margin: 0 0 16px 0;
    line-height: 1;
    }

    /* Tekst under score */
    .trust-reviews {
    font-size: 16px;
    margin: 0;
    }

/* Højre side med anmeldelser */
    .review-area {
         flex: 1;
    }

    /* Holder anmeldelseskortene ved siden af hinanden */
    .review-grid {
    display: flex;
    gap: 36px;
    justify-content: center;
    }

    /* Selve anmeldelseskortet */
    .review-card {
        width: 270px;
        min-height: 260px;
        padding: 24px;
        border: 1px solid #908679;
        border-radius: 8px;
        background-color: transparent;
    }

    /* Toppen af kortet med profilbillede og navn */
    .review-header {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 16px;
    }

    /* Profilbillede */
    .bruger img {
        width: 48px;
        height: 48px;
    }

    /* Navn */
    .review-header h3 {
    font-size: 16px;
     margin: 0;
    font-weight: 600;
    }

    /* By */
    .review-header p {
    font-size: 13px;
    margin: 2px 0 0 0;
    }

    /* Stjerner inde i anmeldelsen */
    .review-stars {
    height: 20px;
    margin-bottom: 18px;
    }

    /* Anmeldelsestekst */
    .review-text {
    font-size: 15px;
    line-height: 1.7;
    margin: 0;
    }

    /* Dato nederst */
    .review-date {
    font-size: 14px;
    margin-top: 26px;
    }

    /* Link nederst */
    .trustpilot-link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 40px;
        color: black;
        text-decoration: none;
        font-size: 16px;
    }

    /* Trustpilot-logo i linket */
    .trustpilot-link img {
    width: 150px;
    }

    /* Pil efter linket */
    .trustpilot-link:after {
    content: "→";
    font-size: 28px;
    margin-left: 8px;
    }


/* styling af features sektionen */
.features {
    min-height: 40vh;
    background-image: url("../img/features-background.png");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    padding: 40px 80px;
    }

    /* styling af overskriften */
    .features h2 {
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
    line-height: 2;
    }

    /* listen med features */
    .feature-list {
    list-style: none;
    margin: 32px 0 0 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    /* hvert feature-punkt */
    .feature-item {
    text-align: center;
    color: white;
    }

    /* størrelsen på ikonerne */
    .feature-icon {
    width: 80px;
    height: 80px;
    }

    .feature-text h4{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
    line-height: 2;
    }

    .feature-text p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
    line-height: 2;
    }
    