/* styling af menulinjen */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EAE6E3;
  padding: 32px 30px;
  position: relative;
}

/* størrelse på ikoner */
.icon {
  width: 32px;
  height: 32px;
}

/* styling af ikonernes placering */
.left,
.right {
  display: flex;
  align-items: center;
  flex: 1;
}
.right {
  justify-content: flex-end;
  gap: 25px;
}

/* styler span og icon ift hinanden */
.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

/* styling af logo */
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logo img {
  width: 180px;
  height: auto;
  display: block;
}

/* styling af hero billedet */
.hero {
  min-height: 80vh;
  background-image: url("../img/lumina-herosektion.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  padding: 0 80px;
}

/* styling af hero teksten */
.hero-text {
  max-width: 500px;
  color: white;
}
/* styling af overskriften h1 */
.hero-text h1 {
  font-size: 64px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-family: 600;
}

/* styling af paragraffen */
.hero-text p {
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}
/* ændre hverdag til guld */
.highlight {
  color: #C89B5C;
}